<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codaliscia">

    <application
        tools:replace="android:roundIcon, icon"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"/>
</manifest>